

/* ----------SZEROKOŚĆ MAX 480px---------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

@media all and (max-width:480px)
    
    
    
    
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */



{
    
   
  /* --------------------------------------------------------- */
/* ------------------   TEKST SPORT      ---------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */  
    
    
    .box_sport{
        top:-70px;
        left:-50px;
    }
    
    
    
    .txt_sport{
        font-size: 12vh;
    }
    
    
    
      /* --------------------------------------------------------- */
/* ------------------   TRESC BOX      ---------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */ 
    
    
    
    .box_tresc_sport{
     
        width:90%;
        left:5px;
        top:-70px;
        
        
    }
    
    .txt_tresc_sport{
        font-size:2.5vh;
    }
    
    
    
              /* --------------------------------------------------------- */
/* ------------------   FOTO      ---------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */ 
    
    
    
    .foto_sport{
        width:50%;
    }
    
    
    
    
    
          /* --------------------------------------------------------- */
/* ------------------   BUTTON      ---------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */ 
    
    
    .three_row_4{
        top:-5px;
        left:80px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}




























/* ----------SZEROKOŚĆ od  1366---------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */



@media all and (min-width:1367px)

{

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */   
    
    
    
    
    /* ------------------------------------------------------------------- */
/* ---------------------  ZDJECIE PODSTRONA SPORT   ------------------------------- */
/* ------------------------------------------------------------------- */

.foto_sport{
    z-index: 1;
position: absolute;
    width: 17%;
    top:240px;
    left:50%;
    
}
    
  
    
    
  /* ------------------------------------------------------------------- */
/* --------------------- BUTTON ------------------------------- */
/* ------------------------------------------------------------------- */







.three_row_4{
     z-index: 1;
     display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    left:130px;
    top:-55px;
}

.box_button{
    opacity: 1;
    position: relative;
    left:20%;


}
  
    
    
    
    
    
    
    
    
    
}