
/* ----------SZEROKOŚĆ MAX 480px---------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

@media all and (max-width:480px)
    
    
    
    
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
    
    
{
    
    
    
    /* ------------------------------------------------------------------- */
/* ---------------------  WITAM NAZYWAM SIE   ------------------------------- */
/* ------------------------------------------------------------------- */
    
    .two_row_1{
        position: relative;
     top:-20px;
       
    }
   
    .box_witam{
        position: relative;
    left:-20px;
        
       width:120px;
        height: 25px;
        font-size: 6vh;
    
    }
    
    
    .box_nazywamsie{
        position: relative;
        top:15px;
        left:-30px;
        width:120px;
    }
    
    

    
    
    
   .txt_nazywamsie{
  
       
     
            font-size: 3vh;
        
    }
    
  
        /* ------------------------------------------------------------------- */
/* ---------------------  RAFAŁ   ------------------------------- */
/* ------------------------------------------------------------------- */
    
    .two_row_2{
        position:relative;
        top:-40px;
    }
    
    .box_rafal{
        
    }
    
    .txt_rafal{
        position: relative;
        font-size: 14vh;
        left:18px;
    }
    
    
           /* ------------------------------------------------------------------- */
/* ---------------------  KENSIK   ------------------------------- */
/* ------------------------------------------------------------------- */ 
    
     .two_row_2a{
        position:relative;
        top:-32px;
    }
    
    .txt_kensik{
          position: relative;
        font-size: 14vh;
        left:-30px;
        
    }
  

           /* ------------------------------------------------------------------- */
/* ---------------------  TRESC   ------------------------------- */
/* ------------------------------------------------------------------- */ 

    
    
    .box_tresc_rafal{
        top:-70px;
       position: relative;
        left:1px;
        width:92%;
        
        
    }
    
    
               /* ------------------------------------------------------------------- *       BUTTON  ------------------------------- */
/* ------------------------------------------------------------------- */ 
    
    .two_row_4{
        position: relative;
     left:10px;
        top:-30px;
    }
    
    
    
}




         /* ----------SZEROKOŚĆ od 480px  do 799---------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */


@media all and (min-width:481px) and (max-width:799px){
    
  
 /* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}



























         /* ----------SZEROKOŚĆ od 800px  do 1366---------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */


@media all and (min-width:800px and max-width:1366px)


/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */




{
    
    
}
























         /* ----------SZEROKOŚĆ od  1366---------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */



@media all and (min-width:1367px)

    
    
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */   
    
    
    
    
{
    
    
  
    .two_row_1{
        position: relative;
      top:20px; 
    }
    
    .txt_witam{
          position: relative;
      top:-40px; 
    }
    
    .box_nazywamsie{
         position: relative;
      top:45px; 
    }
    
    .box_rafal{
         position: relative;
      top:45px;
    }
    
    
    
    
    }