/* -----HEAD FONT - LATO 

font-family: 'Lato', sans-serif;
Lato:300,400,400i,700,900
---- */





*{
    margin:0;
    padding:0;
   
}



/* -----ZMIENNA BORDER SOLID WHITE ----------------------- */
 :root{
--obramowanie:  white ;

}



.container_caly{
    width:100%;
    height:100vh;

    display: flex;
  overflow: hidden;
    justify-content: center;
    background-image:url(img/tlo_strony.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.container{
    width:80%;
    margin-top:100px;
    height:100vh;
 overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}





















/* ----------HEADER----------------------------------- */

header{
    display:flex;
   
    flex-direction: row;
   border:var(--obramowanie);
    width:80%;
    height: 120px;
    margin-top:-0px;
    position: fixed;
    top:50px;
}
.logo{
    align-self: center;
    padding-left: 10px;
    border:var(--obramowanie);
    flex:8;
}

.logo_size{
    width:130px;
    
}


.adres{
    align-self: center;
    display: flex;
    flex-direction: row;
   font-family: 'Lato';
    font-weight: 500;
    border:var(--obramowanie);
  width:230px;
    color:white;
    text-align: right;
    font-size:14px;
}
.fb_logo_size{
    width:37px;
    margin-left:5px;
 
}

.facebook_icon:hover{
    opacity: 0.5;
}

















/* ----------ZAWARTOŚĆ------------------------------------- */


.container_inside{
    border:var(--obramowanie);
       display: flex;
  flex-direction: column;
     font-family: 'Lato';
    font-weight: 900; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
   
    text-align: center;
        

}


/* ----------    OKRĘGI RUCHOME     ------------------------- */

.big_circle{
    position: absolute;
    top:20%;
    left:36%;
    border-radius:50%;
    border: dotted;
    border-color: white;
    width:70vh;
    height: 70vh;
    opacity: 0.3;
}

.small_circle{
    position: absolute;
    top:25%;
    left:61%;
    border-radius:50%;
    border: dotted;
    border-color: white;
    width:15vh;
    height: 15vh;
    opacity: 0.3;
}




/* -----------------TREŚCI ZAWARTOŚĆ---------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
















/* ------------------------------------------------------------------- */
/* ---------------------  Z PASJI DO   ------------------------------- */
/* ------------------------------------------------------------------- */



.one_row_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
   height:40px;
    
 
    
    
}



.box_zpasji{
  position: relative;
    left:-100px;
padding-left:10px;
    padding-right: 10px;
    padding-top: 20px;
  
    
   
    height:8vh;
    width:40vh;
    
    background-color: white;
     color:#181C20;
     font-family: 'Lato';
    font-weight: 900; 
    font-size: 11.8vh;
    box-sizing:content-box;
}


.txt_zpasji{
    
    position: relative;
    top:-65%;
}




.box_do{
    position: relative;
     left:-100px;
   color: white;
    font-size: 8vh;
    box-sizing: border-box;
    line-height: 200%;
    
}

.txt_do{
    position: relative;
}



/* ------------------------------------------------------------------- */
/* ---------------------  SPORTU   ------------------------------- */
/* ------------------------------------------------------------------- */

.one_row_2{
      /* border:var(--obramowanie);*/
    display: flex;
    justify-content: center;
    flex-direction: row;
 
    
    
}

.box_sportu{
  position: relative;
      left:30px;
     
    
    
  
}


.txt_sportu{
        color: white;
    font-size:22vh;
    padding: -10px;
    
    
    
}



/* ------------------------------------------------------------------- */
/* ---------------------  TRESC OPIS   ------------------------------- */
/* ------------------------------------------------------------------- */



.one_row_3{
      /* border:var(--obramowanie);*/
    display: flex;
    justify-content: center;
    flex-direction: row;
 
    
    
}

.box_tresc{
    position: relative;
    top:-18px;
    left:70px;
}


.txt_tresc{
    text-align: left;
    font-weight: 500; 
    font-size:2vh;
    color:white;
}



/* ------------------------------------------------------------------- */
/* --------------------- BUTTON ------------------------------- */
/* ------------------------------------------------------------------- */







.one_row_4{
    
}


































/* ----------FOOTER-------------------------------------- */

footer{
    border:var(--obramowanie);
    display:flex;
    justify-content: center;
    
    width:100%;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom:0;
  
     font-family: 'Lato';
    font-weight: 500;
  
    
    
    
    
    
}


.footer_dane{
     border:var(--obramowanie);
    display:flex;
    width:40%;
    justify-content: center;
    align-self:center;
    overflow: inherit;

}

.adres_footer{
    display: none;
}

.facebook_icon_footer{
    display: none;
}






















