/* -----HEAD FONT - LATO 

font-family: 'Lato', sans-serif;
Lato:300,400,400i,700,900
---- */





*{
    margin:0;
    padding:0;
  
}



/* -----ZMIENNA BORDER SOLID WHITE ----------------------- */
 :root{
--obramowanie:   white ;

}



.container_caly{
    width:100%;
    height:100vh;
z-index: -10;
    display: flex;
  overflow:hidden;
    justify-content: center;
    background-image:url(img/tlo_strony.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.container{
    width:80%;
    margin-top:100px;
    height:100vh;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}





















/* ----------HEADER----------------------------------- */

header{
    display:flex;
   
    flex-direction: row;
   border:var(--obramowanie);
    width:80%;
    height: 120px;
    margin-top:-0px;
    position: fixed;
    top:50px;
}
.logo{
    align-self: center;
    padding-left: 10px;
    border:var(--obramowanie);
    flex:8;
}

.logo_size{
    width:130px;
    
}


.adres{
    align-self: center;
    display: flex;
    flex-direction: row;
   font-family: 'Lato';
    font-weight: 500;
    border:var(--obramowanie);
  width:230px;
    color:white;
    text-align: right;
    font-size:14px;
}
.fb_logo_size{
    width:37px;
    margin-left:5px;
 
}

.facebook_icon:hover{
    opacity: 0.5;
}

















/* ----------ZAWARTOŚĆ------------------------------------- */


.container_inside{
 
    border:var(--obramowanie);
       display: flex;
  flex-direction: column;
     font-family: 'Lato';
    font-weight: 900; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
   
    text-align: center;
        

}


/* ----------    OKRĘGI RUCHOME     ------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */






/* ----------    OKRĘGI DUZY     ------------------------- */
.big_circle{
    position: absolute;
    top:18%;
    right:33%;
    border-radius:50%;
    border: dotted;
    border-color: white;
    width:70vh;
    height: 70vh;
    opacity: 0.1;
}


/* ----------    OKRĘG MALY     ------------------------- */


.box-small-circle{
    opacity: 0.5;
    color:red;
   
    
}

.small_circle{
  
    position: absolute;
    top:25%;
    right:32%;
    border-radius:50%;
    border: dotted;
    border-color: white;
    width:15vh;
    height: 15vh;
  
}



.small-circle-numer p{
    font-family: 'Lato';
    font-weight: 800;
    color:white;
    font-size: 11vh;
    opacity: 1;
    
   
}


/* ----------    LINIE BOCZNE     ------------------------- */





.linia_lewa{
    position: absolute;
    overflow: hidden;
    opacity: 0.1;
    height:1px;
    left:-45%;
    top:60%;
    background-color: white;
    width:1000px;
}



.linia_prawa{
    position: absolute;
    overflow:hidden;
    opacity: 0.1;
    height:1px;
    left:65%;
    top:45%;
    background-color: white;
    width:400px;
}












/* -----------------TREŚCI ZAWARTOŚĆ---------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
















/* ------------------------------------------------------------------- */
/* ---------------------  Z PASJI DO   ------------------------------- */
/* ------------------------------------------------------------------- */



.one_row_1{
    
     z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
   height:40px;
    
 
    
    
}



.box_zpasji{
    opacity: 0;
     overflow: hidden;
  position: relative;
    left:-100px;
    z-index: 10;
padding-left:10px;
    padding-right: 10px;
    padding-top: 20px;
  
    
   
    height:8vh;
    width:40vh;
    
    background-color: white;
     color:#181C20;
     font-family: 'Lato';
    font-weight: 900; 
    font-size: 11vh;
    box-sizing:content-box;
}


.txt_zpasji{
   
      opacity: 0;
    position: relative;
    top:-62%;
}




.box_do{
      opacity: 0;
    position: relative;
     left:-100px;
   color: white;
    font-size: 8vh;
    box-sizing: border-box;
    line-height: 200%;
     z-index: 2;
    
}

.txt_do{
    position: relative;
}



/* ------------------------------------------------------------------- */
/* ---------------------  SPORTU   ------------------------------- */
/* ------------------------------------------------------------------- */

.one_row_2{
      /* border:var(--obramowanie);*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
 
    
    
}

.box_sportu{
    
      opacity: 1;
  position: relative;
      left:30px;
   
    
    
  
}


/* ------------------------------------------------------------------- */
/* ---------------------  ZDJECIE GLOWNA   ------------------------------- */
/* ------------------------------------------------------------------- */


.photo-glowna-strona{
    opacity: 1;
    width:20%;
    position: absolute;
    top:110px;
    left:600px;
    z-index: 0;
  
}










.txt_sportu{
    z-index: 6;
             opacity: 0;
        color: white;
    font-size:22vh;
    padding: -10px;
     
    
    
}



/* ------------------------------------------------------------------- */
/* ---------------------  TRESC OPIS   ------------------------------- */
/* ------------------------------------------------------------------- */



.one_row_3{
      /* border:var(--obramowanie);*/
    display: flex;
    justify-content: center;
    flex-direction: row;
 
    
    
}

.box_tresc{
    z-index: 1;
    position: relative;
    top:-18px;
    left:70px;
    width:50%;
}


.txt_tresc{
    opacity: 0;
    text-align: left;
    font-weight: 500; 
    font-size:2vh;
    color:white;
}



/* ------------------------------------------------------------------- */
/* --------------------- BUTTON ------------------------------- */
/* ------------------------------------------------------------------- */







.one_row_4{
     z-index: 1;
     display: flex;
    justify-content: center;
    flex-direction: row;
}

.box_button{
    opacity: 0;
    position: relative;
    left:15%;


}

.button{
   display: flex;
    flex-direction: row;
    cursor: pointer;
}

.button .txt-button{
  color:white;
  padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
  
}

.button .txt-button img{
    
}

.button .txt-button:hover{
    background-color:white;
    color:#181C20;
    
}






































/* ----------FOOTER-------------------------------------- */

footer{
    border:var(--obramowanie);
    display:flex;
    justify-content: center;
    
    width:100%;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom:0;
  
     font-family: 'Lato';
    font-weight: 500;
  
    
    
    
    
    
}


.footer_dane{
     border:var(--obramowanie);
    display:flex;
    width:40%;
    justify-content: center;
    align-self:center;
    overflow: inherit;

}

.adres_footer{
    display: none;
}

.facebook_icon_footer{
    display: none;
}






















